In [4]:
x=10

In [5]:
y=10

In [6]:
print(x+y)

20

In [2]:
import pandas as pd

In [4]:
year2019={"A":10,"B":20,"C":40}
year2020={"A":80,"B":160,"C":320}
year2021={"A":640,"B":1280,"C":2560}
dic={2019:year2019,2020:year2020,2021:year2021}

In [5]:
print(dic)

{2019: {'A': 10, 'B': 20, 'C': 40}, 2020: {'A': 80, 'B': 160, 'C': 320}, 2021: {'A': 640, 'B': 1280, 'C': 2560}}

In [11]:
df=pd.DataFrame(dic)

In [12]:
print(df)

   2019  2020  2021
A    10    80   640
B    20   160  1280
C    40   320  2560

In [13]:
df[2019]

A    10
B    20
C    40
Name: 2019, dtype: int64

In [14]:
df.head(2)

   2019  2020  2021
A    10    80   640
B    20   160  1280

In [15]:
df.columns

Int64Index([2019, 2020, 2021], dtype='int64')

In [1]:
df

NameError: name 'df' is not defined

In [18]:
df.2021

SyntaxError: invalid syntax (<ipython-input-18-845711dd8bd3>, line 1)

In [22]:
df[[2020,2021]]

   2020  2021
A    80   640
B   160  1280
C   320  2560